*{
    margin: 10;
    padding: 10;
    box-sizing: borde-box;
    font-family: 'Roboto', sans-serif;
    color: #000000
}

.header{
    background:#CAF8FF;
    color:#62FFF1;

}

.sections{
    background: #00587a;
    margin:auto;
    text-align:center

}

nav{
    display: flex;
    background:#001149;
    padding: 10px;
    justify-content: space-between;
}

nav ul{
    display: flex;    
}

nav li a{
    padding-right:40px;
    color: #000000;  
}

.img_prueba{
    border:10px solid #1060FF;
}

.contacts{
  display: flex;
  justify-content:space-around; 
}

footer{
    background: #46FFB5;
    padding: 10px;
    text-align:center 
}

.main_section{
    padding:3%;
    text-align:center;
  }
  
  /**productos**/

  .products{
    max-height:10px;
    background-position:center;
    padding:1%;
    padding-bottom:1%;
    display:flex;
  }
  
  .product{
    padding:0px;
    margin-top:0px;
  }

  .content{
    background-color:white;
    padding:0%;
    box-shadow:5px #c1bcbc;
    border:40px solid #97FFD6
  }

  .img_content{
    text-align:center
  }